node_modules
.next
.out
dist
build
*.log
.env
.env.*

content/books/files/*.pdf
content/books/files/*.epub
content/books/files/*.mobi

# Allow image assets in public/images to be tracked and deployed
# public/images/*.jpg
# public/images/*.jpeg
# public/images/*.png
# public/images/*.webp
