node_modules
.next
.out
dist
build
*.log
.env
.env.*

content/books/files/*.pdf
content/books/files/*.epub
content/books/files/*.mobi

public/images/*.jpg
public/images/*.jpeg
public/images/*.png
public/images/*.webp
